.action_button {
  height: 45px;
  width: 100%;
  border: 1px solid var(--global-text-color);
  /* border-bottom: 5px solid var(--global-text-color); */
  border-radius: 12px;
  background-color: var(--global-green-color);
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  font-family: var(--font-family-body);
  font-size: var(--font-sm-size);
  font-weight: var(--font-weight-normal);
}
