/* ######### Dashboard Page Styling ######### */
.dashboard {
  padding: 14px;
  display: grid;
  justify-content: center;
}
.dashboard .content .heading {
  margin-bottom: 18px;
  gap: 6px;
}
.dashboard .content .heading .icon {
  margin-top: -1px;
}
.dashboard .content .main_menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 8px;
}
.dashboard .content .main_menu .row-1 {
  grid-column: 1 / span 1; /* row spans the whole width */
}
.dashboard .content .main_menu .row_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* row has two columns */
  gap: 8px;
}
.dashboard .create_task_wrapper {
  padding-block: 8px;
}
