.dashboard {
  padding: 14px;
  display: grid;
  justify-content: center;
}

/* ############# dashboard wrapper ############# */
.dashboard .wrapper {
  border-bottom: 1px solid lightgray;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.dashboard .wrapper .account {
  font-weight: var(--font-weight-semibold);
  width: 100%;
  gap: 6px;
}
.dashboard .wrapper .account .greetings {
  font-weight: var(--font-weight-light);
  font-size: var(--font-sm-size);
}
.dashboard .wrapper .account .avatar {
  border: 1px solid currentColor;
}
.dashboard .wrapper .icon {
  /* border: 1px solid; */
  width: var(--global-icon-xl);
  height: 100%;
}

/* ############# dashboard content ############# */
