.ongoing_tasks_page {
  padding: 14px;
  display: grid;
  justify-content: center;
}

.ongoing_tasks_page .tasks_heading {
  margin-bottom: 14px;
  align-items: start;
  gap: 10px;
}
.ongoing_tasks_page .tasks_heading .icon {
  width: var(--global-icon-xl);
}
