.signin_page {
  max-width: 320px;
}

.signin_page .content p {
  margin-top: 6px;
}

.signin_page .login_form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 12px;
}

.signin_page .wrapper .divider {
  text-align: center;
}

.icon {
  width: 1.5rem; /* Equivalent to w-4 */
  height: 1.5rem; /* Equivalent to h-4 */
  margin-right: 10px; /* Equivalent to me-2 */
}

.login_link {
  margin-top: 20px;
  color: var(--global-text-color);
  text-align: center;
}

.login_link a {
  opacity: 1;
  padding-left: 4px;
}
