.signup_page {
  padding: 5px;
  display: grid;
  justify-content: center;
}

.signup_page .content p {
  margin-top: 6px;
}

.signup_page .wrapper .continue_btn {
  padding-top: 10px;
}

.signin_page .wrapper .error_msg .icon {
  height: 100%;
  width: var(--global-icon-base);
}

.signup_page .login_form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 12px;
}

.signup_page .wrapper .divider {
  text-align: center;
}

.login_link {
  margin-top: 20px;
  color: var(--global-text-color);
  text-align: center;
}

.login_link a {
  opacity: 1;
  padding-left: 4px;
}
