/* ########## Ongoing Completed Page Styling  ########## */
.ongoing_tasks_page,
.completed_tasks_page {
  padding: 14px;
  display: grid;
  justify-content: center;
}
.ongoing_tasks_page .tasks_heading,
.completed_tasks_page .tasks_heading {
  margin-bottom: 14px;
  align-items: start;
  gap: 8px;
}
.ongoing_tasks_page .tasks_heading .icon,
.completed_tasks_page .tasks_heading .icon {
  width: var(--global-icon-xl);
  margin-top: -3px;
}
