/* ########### Menu Bar ########### */
.menu_bar .content {
  width: 100%;
  gap: 6px;
  font-weight: var(--font-weight-semibold);
}
.menu_bar .content .greetings {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-xs-size);
}
.menu_bar .content .avatar {
  border: 1px solid currentColor;
}
.menu_bar .icon {
  width: var(--global-icon-xl);
  height: 100%;
}
.menu_item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  color: var(--global-text-color);
  background: transparent;
  font-weight: var(--font-weight-normal);
}
.menu_item .icon {
  margin-right: 4px;
  margin-top: 2px;
}
