@import "./styles/variables.css"; /* global variables */
@import "./styles/SignupSigninPage.css";
@import "./styles/DashboardPage.css";
@import "./styles/TaskPages.css";
@import "./styles/base.css";

html {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-body);
  font-size: var(--font-base-size);
}
body {
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;

  min-height: 100dvh;
  min-width: 100%;
  display: grid;
  align-items: center;
}

/* ################ Container ################ */
.container {
  min-width: 100%;
  width: var(--global-container-sm);
}

/* ######## Global Flex ######### */
.flex_center {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_start {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: start;
}
.flex_end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.flex_between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_col_start {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.flex_col_between {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ############ Other ############ */
.icon {
  width: var(--global-icon-base);
  height: 100%;
}
/* Disabled button styles */
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.error_msg {
  color: red;
  gap: 4px;
}
.no_underline_link {
  text-decoration: none;
}

/* ############ Global Btn ############ */
.btn {
  height: 45px;
  width: 100%;
  border-radius: var(--global-radius-base);
  border: 1px solid var(--global-text-color);
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}
.btn .text {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-sm-size);
}
.btn .icon {
  width: var(--global-icon-sm);
  height: 100%;
  margin-right: 4px;
}

/* ############ Global Shadow ############ */
.shadow_sm {
  box-shadow: var(--global-shadow-sm);
}
.shadow_base {
  box-shadow: var(--global-shadow-base);
}
.shadow_lg {
  box-shadow: var(--global-shadow-lg);
}

/* ########### Responsive Media Screen ############# */
@media screen and (min-width: 768px) {
  .container {
    min-width: 100%;
    width: var(--global-container-base);
  }
  .fancy_box .tasks p {
    max-width: 155px;
  }
  .todo_list .task .task_title {
    width: 300px;
  }
}
